<div class="card text-center">

    <div class="card-header">

        Featured

    </div>

    <div class="card-body">

        <h5 class="card-title">Page not found</h5>

        <p class="card-text">Page under construction, please wait...</p>        

    </div>

    <div class="card-footer text-body-secondary">

        Student Center

    </div>

</div>