@{
    ViewData["Title"] = "Home Page";
}

<section>
    <div class="bolha">

        <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
            <path fill="#000000" transform="translate(100 100)">
            
                <animate attributeName="d" 
                         dur="10000ms" 
                         repeatCount="indefinite" 
                         values="M40.6,-11.9C48.2,10.3,47,36.7,32,48.7C16.9,60.8,-11.9,58.5,-33,43.6C-54,28.8,-67.1,1.4,-60.3,-19.8C-53.5,-40.9,-26.7,-55.7,-5.1,-54C16.5,-52.3,32.9,-34.2,40.6,-11.9Z;
                                 M65.6,-22.5C71.9,-2,54.8,25,33.7,38.4C12.6,51.9,-12.6,51.9,-30.9,39.3C-49.2,26.8,-60.8,1.6,-54.5,-18.9C-48.2,-39.4,-24.1,-55.3,2.8,-56.2C29.7,-57.1,59.3,-43,65.6,-22.5Z;
                                 M40.6,-11.9C48.2,10.3,47,36.7,32,48.7C16.9,60.8,-11.9,58.5,-33,43.6C-54,28.8,-67.1,1.4,-60.3,-19.8C-53.5,-40.9,-26.7,-55.7,-5.1,-54C16.5,-52.3,32.9,-34.2,40.6,-11.9Z">

                </animate>
                
            </path>
        </svg>

        <img src="~/img/bb8.png" alt="imagem gerado pelo copilot inspirado no BB-8 do Star Wars" /> 

    </div>

</section>

