@model ICollection<StudentCenterWeb.DTOs.SolicitationDto>

<div id="actions">

    <partial name="~/Views/StudentCenter/PartialViews/_Actions.cshtml" />

</div>



<div id="cardSolicitation">

    <partial name="~/Views/StudentCenter/PartialViews/_CardSolicitation.cshtml" />

</div>





