
<form class="needs-validation" novalidate>

    <div class="card col-12 col-md-12 col-lg-6">

        <div class="card-header m-4">
            <i class="fa-solid fa-file mx-2"></i>
            Nova solicitação
        </div>

        <div class="card-body m-4">

            <div class="row mb-3">

                <div class="col-12">

                    <select class="form-select"
                            required aria-label="select example"
                            id="requestTypeId">
                        <option value="">Escolha uma opção...</option>
                        @foreach (var item in ViewBag.RequestType)
                        {
                            <option value="@item.Id">@item.Description</option>
                        }
                    </select>
                    <div class="invalid-feedback">Opção é obrigatória.</div>

                </div>

            </div>

            <div class="row mb-3">

                <div class="col-12">

                    <label for="descricao" class="form-label">Textarea</label>
                    <textarea class="form-control" id="descricao" placeholder="Digite a descrição" required></textarea>
                    <div class="invalid-feedback">
                        Descrição é obrigatória.
                    </div>

                </div>

            </div>

        </div>

        <div class="card-footer">

            <div class="row mb-3">

                <div class="col-12">

                    <div class="d-flex justify-content-between mt-2">

                        <button type="button" class="btn btn-outline-dark" onclick="location.href='@Url.Action("GetAll", "StudentCenter")'">
                            <i class="fa-solid fa-circle-left mx-2"></i>
                            Voltar
                        </button>

                        <button type="submit" class="btn btn-outline-dark">
                            <i class="fa-solid fa-floppy-disk mx-2"></i>
                            Salvar
                        </button>

                    </div>

                </div>

            </div>

        </div>

    </div>

</form>

<script>

    (() => {
        'use strict';

        const forms = document.querySelectorAll('.needs-validation');

        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                event.preventDefault(); 

                if (!form.checkValidity()) {                   
                    event.stopPropagation();
                    form.classList.add('was-validated');
                    return false;
                }
               
                form.classList.add('was-validated');
                submitData();
            }, false);
        });

        const submitData = () => {
            toastr.options = {
                "closeButton": true,
                "progressBar": true,
                "timeOut": "3000", 
                "onHidden": function () {
                    location.reload(); 
                }
            };

            const requestTypeId = document.getElementById("requestTypeId").value;
            const description = document.getElementById("descricao").value;

            fetch('https://localhost:7248/api/v1/Solicitation', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    StudentId: 2025,
                    Description: description,
                    RequestTypeId: requestTypeId
                })
            })
                .then(response => response.json())
                .then(data => {
                    if(data.success){
                        toastr.success(data.message);
                    }else{
                        toastr.error(data.message);
                    }
                    
                })
                .catch(error => {                   
                    toastr.error('Erro ao salvar');
                });
        };

    })();


</script>