@model ICollection<StudentCenterWeb.DTOs.SolicitationDto>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">


    @foreach (var item in Model)
    {
        <div class="col">

            <div class="card border-dark mb-3" style="max-width: 20rem; height: 10rem">

                <div class="card-header bg-dark text-white">@item.DescriptionRequestType</div>

                <div class="card-body">

                    @{
                        var badgeClass = item.DescriptionStatus switch
                        {
                            "PENDENTE" => "badge text-bg-warning text-white",
                            "CONCLUÍDO" => "badge text-bg-success",
                            "NEGADO" => "badge text-bg-danger",
                            _ => "badge text-bg-secondary"
                        };
                    }

                    <span class="@badgeClass">@item.DescriptionStatus</span>

                    <p class="card-text mt-2">@item.Description</p>

                </div>

            </div>

        </div>
    }

</div>